* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #126E82;
}

/* Header styles start*/
header {
    background: #51C4D3;
    color: #D8E3E7;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.jumbo img {
    width: 100%;
    height: 200px;
}

header h1 {
    width: 49.9%;
    padding: 20px;
    background-color: #132C33;
    font-size: 45px;
    color: #D8E3E7;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

/* Header nav start*/
header nav {
    background: #132C33;
    width: 49.9%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 25px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;  
}

header nav ul li a {
    padding-right:10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    border-bottom: 2px solid #D8E3E7;  
}

header a {
    text-decoration:none;
    color: #D8E3E7;
}

header nav ul li a:hover {
    background:#126E82;
    color:#51C4D3;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 10px;
}
/* Header styles end*/


                                            /* About me section start */
.bio{                   /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding: 40px;
    padding-left: 60px;
    display: flex;
    justify-content: center;   
}

.bio h2 {               /* sets the width of the element along with giving a right border */          
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.bio img{
    height: 250px;
    width: 200px;
    padding-left: 15px;
    justify-content: center;
}

.bio p {
    width: 80%;
    text-indent: 40px;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}                                               /* About me section end */

                                                /* Work section start */
.projects{              /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding: 20px;
    padding-left: 60px;
    display:flex;
    flex-wrap: wrap;   
}

.projects h2 {          /* sets the width of the element along with giving a right border */
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.imagegallery {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.limage {
    width: 1200px;
    height: 500px;
    margin: 10px;
    border: 5px solid #132C33;
    opacity: 0.5;
}

.limage:hover {
    opacity: 1.0;
}

.images {
    width: 590px;
    height: 200px;
    margin: 10px;
    border: 5px solid #132C33;
    opacity: 0.5;
}

.images:hover {
    opacity: 1.0;
}

.flex-text {
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #132C33;
    position: absolute;
}

.flex-box {
    display: flex;
    flex: wrap;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}

/* Work section ended*/

.info{
    width: 100%;              /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info h2 {              /* sets the width of the element along with giving a right border */
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.info nav {
    width: 90%;
}

.info nav ul {
    margin: 0 10px;
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.info nav ul li{
    margin: 0 30px;
}

.info nav ul li a {
    color: #D8E3E7; 
    text-decoration: none;
    border-bottom: 2px solid #D8E3E7;
    padding: 10px 10px;
}

.info nav ul li a:hover {
    background-color: #132C33;
    padding: 10px 10px;
    border-radius:10px;
    color:#51C4D3;
    border: none;
}

/* Media qurery for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {

    header h1 {
        width: 39.9%;
        padding: 20px;
        background-color: #132C33;
        font-size: 45px;
        color: #D8E3E7;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: center;
    }

    header nav {
        background: #132C33;
        width: 59.9%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 25px;
    }

    .bio{                   /* Changes font size, color, and adds a padding to the left side */
        width: 100%;
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display: flex;
    }

    .bio h2 {               /* sets the width of the element along with giving a right border */          
        width: 20%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .bio p {
        width: 80%;
        text-indent: 40px;
        font-size: 24px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects{              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display:flex;
        flex-wrap: wrap;   
    }

    .projects h2 {          /* sets the width of the element along with giving a right border */
        width: 20%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .imagegallery {
        width: 80%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .limage {
        max-width: 600px;
        height: 500px;
        margin: 10px;
        border: 5px solid #132C33;
        opacity: 0.5;
    }

    .info{
        width: 100%;              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .info h2 {              /* sets the width of the element along with giving a right border */
        width: 20%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .info nav {
        width: 80%;
    }
    
    .info nav ul {
        height: 100px;
        list-style: none;
        display:flex;
    }
    
    .info nav ul li{    
    margin: 0px;
    }

 }
 
/*Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    header h1 {
        width: 39.9%;
        padding: 20px;
        background-color: #132C33;
        font-size: 45px;
        color: #D8E3E7;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    header nav {
        background: #132C33;
        width: 59.9%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 25px;
        align-content: center;
    }

    header nav ul{
        height: 150px;
    }

    .bio{                   /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display: flex;
    }

    .bio h2 {               /* sets the width of the element along with giving a right border */          
        width: 30%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .bio p {
        width: 40%;
        text-indent: 40px;
        font-size: 24px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    

    .projects{              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display:flex;
        flex-wrap: wrap;   
    }

    .projects h2 {          /* sets the width of the element along with giving a right border */
        width: 30%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .imagegallery {
        width: 70%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .limage {
        max-width: 450px;
        height: 300px;
        margin: 10px;
        border: 5px solid #132C33;
        opacity: 0.5;
    }

    .images {
        width: 390px;
        height: 200px;
        margin: 10px;
        border: 5px solid #132C33;
        opacity: 0.5;
    }

    .info{
        width: 100%;              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .info h2 {              /* sets the width of the element along with giving a right border */
        width: 30%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .info nav {
        width: 70%;
    }
    
    .info nav ul {
        height: 150px;
        list-style: none;
        display:flex;
        justify-content: space-evenly;
    }
    
    .info nav ul li{    
        margin: 0px;
    }
    
 }

/*Media query for phones and smaller */
@media screen and (max-width: 575px) {
    header h1 {
        width: 39.9%;
        padding: 20px;
        background-color: #132C33;
        font-size: 45px;
        color: #D8E3E7;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    header nav {
        background: #132C33;
        width: 59.9%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 25px;
        align-content: center;
    }

    header nav ul{
        height: 150px;
    }

    .bio{                   /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        display: flex;
    }

    .bio h2 {               /* sets the width of the element along with giving a right border */          
        width: 40%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .bio img{
        height: 250px;
        width: 200px;
        padding-left: 15px;
        display: flex;
        justify-content: center;
    }

    .bio p {
        display: flex;
        flex-wrap: wrap;
    }

    .profile {
        width: 30%;
    }
    

    .projects{              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        display:flex;
        flex-wrap: wrap;   
    }

    .projects h2 {          /* sets the width of the element along with giving a right border */
        width: 50%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .imagegallery {
        width: 50%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .limage {
        max-width: 250px;
        height: 150px;
        margin: 10px;
        border: 5px solid #132C33;
        opacity: 0.5;
    }

    .images {
        width: 200px;
        height: 100px;
        margin: 10px;
        border: 5px solid #132C33;
        opacity: 0.5;
    }

    .flex-text{
        font-size: 18px;
    }

    .info{
        width: 100%;              /* Changes font size, color, and adds a padding to the left side */
        color: #D8E3E7;
        font-size: 30px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .info h2 {              /* sets the width of the element along with giving a right border */
        width: 50%;
        border-right: 4px solid #FFFFFF;
        text-align: right;
        padding-right: 40px;
    }

    .info nav {
        width: 50%;
    }
    
    .info nav ul {
        height: 200px;
        list-style: none;
        display:flex;
        justify-content: space-evenly;
    }
    
    .info nav ul li{    
        margin: 0px;
    }

    .info nav ul li a {
        font-size: 24px;
    }
  }

