* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #126E82;
}

/* Header styles start*/
header {
    background: #51C4D3;
    color: #D8E3E7;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

header h1 {
    width: 49.9%;
    padding: 20px;
    background-color: #132C33;
    font-size: 45px;
    color: #D8E3E7;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

/* Header nav start*/
header nav {
    background: #132C33;
    width: 49.9%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 25px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;  
}

header nav ul li a {
    padding-right:10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    border-bottom: 2px solid #D8E3E7;
    
}

header a {
    text-decoration:none;
    color: #D8E3E7;
}

header nav ul li a:hover {
    background:#126E82;
    color:#51C4D3;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 10px;
}
/* Header styles end*/

/* About me section start */
.bio{                   /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding: 40px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    
}

.bio h2 {               /* sets the width of the element along with giving a right border */          
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.bio p {
    width: 90%;
    text-indent: 40px;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* About me section end */

.projects{              /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding: 20px;
    padding-left: 60px;
}

.projects h2 {          /* sets the width of the element along with giving a right border */
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.info{
    width: 100%;              /* Changes font size, color, and adds a padding to the left side */
    color: #D8E3E7;
    font-size: 30px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info h2 {              /* sets the width of the element along with giving a right border */
    width: 10%;
    border-right: 4px solid #FFFFFF;
    text-align: right;
    padding-right: 40px;
}

.info nav {
    width: 90%;
}

.info nav ul {
    margin: 0 10px;
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.info nav ul li{
    margin: 0 30px;
}

.info nav ul li a {
    color: #D8E3E7; 
    text-decoration: none;
    border-bottom: 2px solid #D8E3E7;
    padding: 10px 10px;
}

.info nav ul li a:hover {
    background-color: #132C33;
    padding: 10px 10px;
    border-radius:10px;
    color:#51C4D3;
    border: none;
}

